zip filter=lfs diff=lfs merge=lfs -text
licenses filter=lfs diff=lfs merge=lfs -text
sdk filter=lfs diff=lfs merge=lfs -text
symbol_inject filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
makedeps filter=lfs diff=lfs merge=lfs -text
remoteexec filter=lfs diff=lfs merge=lfs -text
response filter=lfs diff=lfs merge=lfs -text
build_test.bash filter=lfs diff=lfs merge=lfs -text
docs filter=lfs diff=lfs merge=lfs -text
partner filter=lfs diff=lfs merge=lfs -text
finder filter=lfs diff=lfs merge=lfs -text
scripts filter=lfs diff=lfs merge=lfs -text
etc filter=lfs diff=lfs merge=lfs -text
python filter=lfs diff=lfs merge=lfs -text
sh filter=lfs diff=lfs merge=lfs -text
sysprop filter=lfs diff=lfs merge=lfs -text
tradefed filter=lfs diff=lfs merge=lfs -text
xml filter=lfs diff=lfs merge=lfs -text
doc.go filter=lfs diff=lfs merge=lfs -text
linkerconfig filter=lfs diff=lfs merge=lfs -text
OWNERS filter=lfs diff=lfs merge=lfs -text
soong.bash filter=lfs diff=lfs merge=lfs -text
androidmk filter=lfs diff=lfs merge=lfs -text
dexpreopt filter=lfs diff=lfs merge=lfs -text
go.mod filter=lfs diff=lfs merge=lfs -text
jar filter=lfs diff=lfs merge=lfs -text
ui filter=lfs diff=lfs merge=lfs -text
cc filter=lfs diff=lfs merge=lfs -text
navbar.md filter=lfs diff=lfs merge=lfs -text
apex filter=lfs diff=lfs merge=lfs -text
bazel filter=lfs diff=lfs merge=lfs -text
bloaty filter=lfs diff=lfs merge=lfs -text
bpfix filter=lfs diff=lfs merge=lfs -text
shared filter=lfs diff=lfs merge=lfs -text
soong_ui.bash filter=lfs diff=lfs merge=lfs -text
bp2build filter=lfs diff=lfs merge=lfs -text
kernel filter=lfs diff=lfs merge=lfs -text
soong.bootstrap.in filter=lfs diff=lfs merge=lfs -text
bpf filter=lfs diff=lfs merge=lfs -text
cuj filter=lfs diff=lfs merge=lfs -text
java filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
root.bp filter=lfs diff=lfs merge=lfs -text
android filter=lfs diff=lfs merge=lfs -text
cmd filter=lfs diff=lfs merge=lfs -text
phony filter=lfs diff=lfs merge=lfs -text
rust filter=lfs diff=lfs merge=lfs -text
TEST_MAPPING filter=lfs diff=lfs merge=lfs -text
Android.bp filter=lfs diff=lfs merge=lfs -text
filesystem filter=lfs diff=lfs merge=lfs -text
genrule filter=lfs diff=lfs merge=lfs -text
PREUPLOAD.cfg filter=lfs diff=lfs merge=lfs -text
vnames.json filter=lfs diff=lfs merge=lfs -text
bootstrap.bash filter=lfs diff=lfs merge=lfs -text
build_kzip.bash filter=lfs diff=lfs merge=lfs -text
third_party filter=lfs diff=lfs merge=lfs -text
